:root {
    --main-background: #eeeeee;
    --main-foreground: #222222;
    --main-foreground-1: #111111;
}
.dark {
    --main-background: #222222;
    --main-foreground: #eeeeee;
    --main-foreground-1: #ffffff;
}

body {
    color: var(--main-foreground);
    background-color: var(--main-background);
}

:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
}


a {
    color:rgb(24, 192, 192);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}