body {
    padding-bottom: 5rem;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5rem;
    padding: 0.2rem;
    box-shadow: 0.0rem 0.1rem 0.5rem #0005;
    backdrop-filter: blur(0.5rem);
}
footer {
    position: fixed;
    margin: 0;
    width: 100%;
    left: 0;
    top: calc(100vh - 5rem);
    height: 5rem;
    backdrop-filter: blur(0.5rem);
    background-color: #2222;
}
.content {
    margin-top: 5rem;
    margin: 5rem 2rem 5rem 2rem;
    height: auto;
    overflow: auto;
}