:root {
    --main-background: #eee;
    --main-color: #222;
    --main-background-2: #eee;
    --main-color-2: #333;
}

.dark {
    --main-background: #222;
    --main-color: #eee;
    --main-background-2: #333;
    --main-color-2: #eee;
}
